<ion-header>
  <ion-toolbar>
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let photo of photos">
      <ion-card>
        <ion-img [src]="photo.photo"></ion-img>
        <ion-card-header>
          <ion-card-title>{{ photo.placeName }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ photo.description }}</p><br>
          <p>creado por: {{ photo.createdBy}}</p><br>
          <p>UID: {{ photo.uid}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>