<ion-header >
  <ion-toolbar color="danger">
    <svg  width="30" height="30" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M244 400L100 256l144-144M120 256h292"/></svg>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-text class="title-text">
    Registro
  </ion-text>
  
 <form [formGroup]="registerForm" (ngSubmit)="register()">

  <div class="container1">
    <ion-icon name="person-outline" slot="start" class="icon"></ion-icon>
    <ion-label class="label-text" position="stacked" >Nombre:</ion-label>
  <ion-input type="text"  formControlName="name"  class="custom-input" [ngClass]="{'failValidate': nameRequired}"></ion-input>
  <span *ngIf="nameRequired" class="advice">El nombre es requerido</span>
  </div>

  <div class="container">
    <ion-icon name="person-outline" slot="start" class="icon"></ion-icon>
    <ion-label class="label-text" position="stacked">Apellidos:</ion-label>
  <ion-input type="text" formControlName="apellidos"  class="custom-input" [ngClass]="{'failValidate': apellidoRequired}" ></ion-input>
  <span *ngIf="apellidoRequired" class="advice">Los apellidos son requeridos</span>
  </div>

  <div class="container">
    <ion-icon name="at-sharp" slot="start" class="icon"></ion-icon>
    <ion-label class="label-text" position="stacked">Correo Eléctronico:</ion-label>
  <ion-input type="email" formControlName="email"  class="custom-input" [ngClass]="{
    'failValidate': emailRequired || emailValidate}" ></ion-input>
    <span *ngIf="emailRequired" class="advice">El correo es requerido</span>
    <span *ngIf="emailValidate" class="advice">Ingrese un correo válido</span>
  </div>

  <div class="container">
    <ion-icon name="key-outline" slot="start" class="icon"></ion-icon>
    <ion-label class="label-text" position="stacked">Contraseña:</ion-label>
  <ion-input type="password" formControlName="password"  class="custom-input" [ngClass]="{
    'failValidate': passwordRequired}">
    <ion-input-password-toggle slot="end" color="dark"></ion-input-password-toggle>
  </ion-input>
  <span *ngIf="passwordRequired" class="advice">La contraseña es requerida</span>
  </div>

  <div class="container">
    <ion-icon name="person-add-outline" slot="start" class="icon"></ion-icon>
    <ion-label class="label-text" position="stacked">Número de Identidad:</ion-label>
  <ion-input formControlName="DNI"  class="custom-input" [ngClass]="{
    'failValidate': dniRequired||dniValidate||dniValidatePattern}"
  type="number"
  ></ion-input>
  <span *ngIf="dniRequired" class="advice">Campo requerido</span>
  <span *ngIf="dniValidate" class="advice">Debe de ingresar al menos 13 carácteres</span>
  </div>

  <div class="container">
    <ion-icon name="call-outline" slot="start" class="icon"></ion-icon>
    <ion-label class="label-text" position="stacked">Número de Télefono:</ion-label>
  <ion-input formControlName="phone"  class="custom-input" [ngClass]="{
    'failValidate': phoneRequired||phoneValidate||phonePattern}"
  type="number"></ion-input>
  <span *ngIf="phoneRequired" class="advice">Campo requerido</span>
  <span *ngIf="phoneValidate" class="advice">Debe de ingresar al menos 8 carácteres</span>
  </div>

  <ion-button 
  class="registerButton"
  color="medium"
  [disabled]="!isFormValid"
  expand="block"
  shape="round"
   type="submit"
   class="registerButton"
   size="medium"
  >
  <svg width="24" height="24" slot="start" xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M352 176L217.6 336 160 272"/><rect x="64" y="64" width="384" height="384" rx="48" ry="48" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="32"/></svg>
  Registrarse 
</ion-button>
 </form>
 <a routerLink="/login" class="link">¿Ya tienes cuenta? Inicia Sesión</a>
</ion-content>
