<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <form [formGroup]="profileForm" (ngSubmit)="submit()">

  <ion-item>
    <ion-img [src]="imageSrc" (click)="pickImage()" class="user-photo"></ion-img>
  </ion-item>

  <ion-item class="container1">
    <ion-label class="label-text" position="stacked" class="fontSize">Nombre Completo:</ion-label>
  <ion-input type="text"  formControlName="name"  class="custom-input" [ngClass]="{'failValidate': nameRequired}"></ion-input>
  <span *ngIf="nameRequired" class="advice">El nombre es requerido</span>
  </ion-item>

  <ion-item class="container">
    <ion-label class="label-text" position="stacked" class="fontSize">Número de Télefono:</ion-label>
  <ion-input formControlName="phoneNumber"  class="custom-input" [ngClass]="{
    'failValidate': phoneRequired||phoneValidate||phonePattern}"
  type="number"></ion-input>
  <span *ngIf="phoneRequired" class="advice">Campo requerido</span>
  <span *ngIf="phoneValidate" class="advice">Debe de ingresar al menos 8 carácteres</span>
  </ion-item>

  <ion-item class="container">
    <ion-label class="label-text" position="stacked" class="fontSize">Fecha de Nacimiento:</ion-label>
  <ion-input type="date" [ngClass]="{
    'failValidate': birthRequired}" 
    aria-label="birthdate"
    name="birthdate"
    placeholder="Ingrese su fecha de nacimiento"
    formControlName="birth"
    displayFormat="DD/MM/YYYY"
    ngDefaultControl></ion-input>
    <span *ngIf="birthRequired" class="advice">La fecha de nacimiento es requerida</span>
    <span class="advice" *ngIf="isBirthdateInvalid">
      La fecha de nacimiento no puede ser mayor que el día actual.
    </span>
  </ion-item>

  <ion-item class="container">
    <ion-label class="label-text" position="stacked" class="fontSize">Número de Identidad:</ion-label>
  <ion-input formControlName="DNI"  class="custom-input" [ngClass]="{
    'failValidate': dniRequired||dniValidate||dniValidatePattern}"
  type="number"
  ></ion-input>
  <span *ngIf="dniRequired" class="advice">Campo requerido</span>
  <span *ngIf="dniValidate" class="advice">Debe de ingresar al menos 13 carácteres</span>
  </ion-item>

  <ion-button 
  color="primary"
  [disabled]="!isFormValid"
  expand="block"
   type="submit"
   class="registerButton"
   size="medium"
  >
  Guardar 
</ion-button>
<ion-button fill="outline" expand="block"   size="medium" (click)="logout()">
  <ion-icon name="log-out-outline" slot="start" class="icon"></ion-icon> Cerrar Sesión</ion-button>
 </form>
</ion-content>

